@include component(hero)
  margin-top: 5em
  text-align: center

  @include part(image)
    text-align: center

    img
      width: 150px

  @include part(title)
    +font-montserrat
    font-weight: 700
    font-size: 65px
    color: #333333
    text-transform: uppercase

  @include part(punchline)
    font-weight: 300
    font-size: 25px
    text-transform: capitalize
    color: #95A5A6

  @include part(github)
    margin-top: 1em
    width: 112px
    margin-right: auto
    margin-left: auto
    height: 40px

